<div class="container loginFormTitle">
    <div class="formContents">

        <div class="centeredTitle">
            <h3>Welcome to Admin Homepage</h3>
        </div>   
    
        <div class="buttonRow">
            <div class="col-12">
                <a routerLink="addMedications" class="btn buttons">Add Medication</a>
                <a (click)="logout()" class="btn buttons">Logout</a>
            </div>
        </div>
    </div>
</div>

        <hr>
        <router-outlet></router-outlet>

