.centeredTitle {
    text-align: center;
    padding: 10px;
}

.loginFormTitle {
    margin: 0 auto;
    padding: 20px;
    max-width: 100%;
    text-align: center;
}

.loginFormContents {
    margin: 0 auto;
    padding: 5px;
    max-width: 100%;
    text-align: left;
}

.formLabel {
    text-align: right;
    padding-right: 10px;
}

.formRow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.accountRadio {
    width: 50%;
    margin: 10px;
    box-sizing: border-box;
}

.radioButtons {
    display: inline-block;
    margin: 0 0px;
    padding: 0px;
    text-align: left;
}

.radioButtons input {
    padding: 5px;
    margin: 5px;
}

.buttonRow {
    text-align: center;
    margin: auto;
    justify-content: center;
}

.buttons {
    color: white;
    background-color: #267ea3;
    border-color: #00ffff;
    width: 150px;
    height: 45px;
    margin: 10px;
}

h3 {
    color:#a53a23;
}

div .formContents {
    text-align: left; 
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 2px solid #00ffff;
    border-radius: 10px;
    background: linear-gradient(120deg, #deebf0, #267ea3 120%);
}