<div class="container">
    <div class="centeredTitle">
        <h3>Order History</h3>
    </div> 
    <div class="row">
    <div class="col-10 orderContainer">
        <table class="table">
            <tr class="orderContentTitle orderContentTitleRow">
                <th>Order Id</th>
                <th>Order Date</th>
                <th>Order Status</th>
                <th>Shipment Charges</th>
                <th>Total Items</th>
                <th>Total Amount</th>
            </tr>
            <tr *ngFor="let order of orders" class="orderContent orderContentValueRow">
                <td>{{order.orderid}}</td>
                <td>{{order.orderDate}}</td>
                <td>{{order.orderStatus}}</td>
                <td>{{order.shipmentCharges}}</td>
                <td>{{order.totalItems}}</td>
                <td>{{order.totalAmount}}</td>
            </tr>
        </table>
    </div>
</div>
</div>